*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.time{
    font-size: 300px;
    color: #fff;
    font-weight: 700;
}

.date{
    color: #fff;
}

/* 



body{
    background-color: var(--primary-color);
    font-size: 40px;
}

.container{
    margin-left: 400px;
    font-size: 270px;
    font-weight: 700;
    color: var(--secondary-color);
    display: inline;
    position: absolute;
    top: 270px;
}

.container .clock{
    letter-spacing: -10px;
    word-spacing: -40px;
}

#MySecDisplay{
    margin-left: -10px;
    color: #BEBEBE;
    word-spacing: -40px;
}





 */ 
